.edit{
  font-size: 18px;
  font-weight: 600;
  width: 120px;
  height: 35px;
  color: white;
  background-color: rgb(53, 53, 53);
  border-radius: 2px;
  margin-left: 300px;
  cursor: pointer;
}
.red_bar{
  width: 70px;
  height: 7px;
  background-color: red;
  margin-left: 530px;
  margin-top: 20px;
}