button{
  font-size: 15px;
  margin-left: 20px;
  height: 30px;
  width: 80px;
}
.content{
  margin: auto;
  width: 700px;
  margin-top: 20px;
  border: 1px solid rgb(196, 196, 196);
  padding: 40px 40px;
  border-radius: 10px;

  
}
.text{
  font-size: 20px;
  text-align: left;
  padding-bottom: 10px;
}
.box{
  width: 300px;
  height: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: rgb(249, 249, 249);
  border-radius: 5px;
  border: 1px solid black;
  font-size: 16px;
}
.create{
  width: 140px;
  height: 40px;
  border: 1px solid #ff1e00c1;
  border-radius: 5px;
  font-size: 20px;
  background-color: #ff1e00c1;
  cursor: pointer;
  margin-top: 40px;
  margin-left: 150px;
  color: white;
  font-weight: 600;
}
#main_content{
  display: inline;
  width: 900px;
}
#menu_title{
  padding-left: 600px;
  padding-top: 30px;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
}
#menu_title2{
  padding-left: 600px;
  font-size: 15px;
}
.cancel{
  font-size: 18px;
  font-weight: 600;
  width: 140px;
  height: 40px;
  color: rgb(54, 54, 54);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
  cursor: pointer;
}

.red-color{
	font-weight: 600;
	color: red;
}
.blue-color{
	font-weight: 600;
	color: blue;
}
.sel{
	padding-left: 20px;
}
select{
	height:30px;
	margin-bottom: 10px;
}