.logo{
  text-align: center;
  margin: auto;
  font-family: 500;
  font-size: 60px;
  margin-top: 100px;
}
.content{
  margin: auto;
  margin-top: 50px;
  border: 1px solid rgb(196, 196, 196);
  padding: 40px 40px;
  border-radius: 10px;
  
}
.text{
  font-size: 20px;
  text-align: left;
  padding-bottom: 10px;
}
.box{
  width: 300px;
  height: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: rgb(249, 249, 249);
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
}
.box1 {
  width: 140px;
  height: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: rgb(249, 249, 249);
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
}
.box2 {
  width: 93px;
  height: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: rgb(249, 249, 249);
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
}
.memberemail{
  width: 135px;
  height: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: rgb(249, 249, 249);
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
}

.login{
    width: 250px;
    height: 40px;
    border: 1px solid red;
    border-radius: 10px;
    font-size: 20px;
    background-color: red;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}
a{
  text-decoration: none;
  color: black;
}
.find{
  padding-left: 60px;
  padding-top: 30px;
}
.red_bar{
  width: 100px;
  height: 7px;
  background-color: red;
  margin: auto;
  margin-bottom: 80px;
  margin-top: 20px;
}
div{
  text-align: center;
  
}
.btn01{
  width: 90px;
  height: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: rgb(249, 249, 249);
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
}
.find {
  text-align: center;
  justify-content: center;
}

