.bigtitle{
    text-align: center;
    font-size: 32px;
}
.board_list .product{
    width: 26%;
  }
.cart_img{
    width: 50px;
    height: 50px;
}
.num2{
    width: 12.5%;
}
.order_title{
    text-align: center;
    margin-bottom: 30px;

}

.order_title strong{
    font-size: 32px;
}