.btnback{
    font-size: 14px;
    color: #898989;
}
.title{
    font-size: 21px;
}
.price{
    font-size: 17px;
    color: #898989;
}
.txtbox{
    font-size: 14px;
}
.selectarr{
    width: 56px;
    height: 44px;
    line-height: 44px;
    font-size: 15px;
    align-self: center;
    padding-left: 10px;
    -webkit-box-sizing: 7px;
    border: 1px solid rgb(60,60,60);
    border-radius: 0;
}
.prodviewInfo .btnbox .btnbuy {
    display: flex;
    margin-left: 12px;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: #fff;
}
.imgdetail{
    width: 1150px;
}